/* rules 
   1. header : should have two side. right side is image. left size one word have to diff color and button should open a external link
   2. second section: almost same. just change the paragraph text
   3. next section: title description should change img and border must be rounded
   4. next section: optional(creative something)
   5. footer: must have diff color in a word
*/

/* Common properties  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

header {
	height: 100vh;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col {
	align-self: center;
}

.col-6 {
	width: 47%;
}

.col-4 {
	width: 30%;
}

.btn {
	background: linear-gradient(45deg, #fba24f 10%, #ff1e1e 90%);
	color: white;
	width: 160px;
	padding: 15px 30px;
	text-align: center;
	/* text-decoration: none; */
	border-radius: 30px;
	margin-top: 40px;
	display: block;
	transition: all 0.2s;
}

.btn:hover {
	box-shadow: 0px 68px 21px #947874;
}
/* Common properties end  */

/* recipe and review section common part  */
.section-header {
	text-align: center;
	margin-bottom: 40px;
}

.section-title {
	font-size: 48px;
	color: #777;
	margin-bottom: 32px;
}

.section-details {
	font-size: 15px;
	width: 700px;
	padding: 0 30px;
	text-align: center;
	margin: auto;
	color: #555;
}

.section-item {
	padding: 10px;
	border-radius: 30px;
	box-shadow: 3px 3px 9px 3px #ddd;
	background: #fff;
}

/* recipe and review section common part end  */

/* top bar contact nav start  */
#nav {
	background: linear-gradient(45deg, #fba24f 10%, #ff1e1e 90%);
	padding: 20px 80px;
}

.contact {
	color: white;
	font-size: 18px;
}

.mail {
	font-size: 14px;
	color: white;
	/* text-decoration: none; */
	margin-left: 20px;
}

.nav-list {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 0;
}

.nav-list a {
	margin-left: 20px;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	transition: background 0.2s;
}

.nav-list a:hover {
	background: #212121;
}
/* top bar contact nav end  */

/* header part start  */
.header-container {
	padding: 60px 50px;
}

.header-description {
	padding-left: 30px;
}

.header-title {
	font-size: 60px;
	font-weight: 700;
	line-height: 78px;
	text-transform: capitalize;
	color: #555;
	margin-bottom: 40px;
}

.health {
	color: #fba24f !important;
}

.header-sub-title {
	font-size: 18px;
	color: #828282;
	line-height: 1.3;
}

.header-img {
	text-align: right;
}

.header-img img {
	max-width: 80%;
}
/* header part end  */

/* about part start  */
#about {
	background: url("./images/shapes/Frame 57.jpg");
	background-size: cover;
}

.about-img {
	padding-top: 80px;
	text-align: center;
}

.about-img img {
	width: 300px;
	height: 486px;
	margin: auto;
}

#about .col-6 {
	align-self: center;
}

.about-description {
	padding-right: 180px;
}

.about-title {
	font-size: 48px;
	color: #777;
	margin-bottom: 32px;
}

.about-details {
	color: #555;
	font-size: 15px;
	line-height: 1.5;
}
/* about part end  */

/* recipe part start  */
.recipe-container {
	padding: 70px;
}

.recipe-img {
	margin-bottom: 20px;
}

.recipe-img img {
	width: 100%;
	height: 240px;
	border-radius: 10px;
}

.recipe-item-details {
	padding: 0 15px 30px;
}

.recipe-item-title {
	font-size: 22px;
	margin-bottom: 10px;
	/* color: #fba24f; */
	border-bottom: 2px solid #fba24f;
	padding-bottom: 10px;
	/* text-decoration: none; */
	color: #555;
	font-weight: 700;
	display: block;
	transition: color 0.2s;
}

.recipe-item-title:hover {
	color: #fba24f;
}

.recipe-item-details p {
	font-size: 15px;
	color: #555;
	line-height: 1.5;
	height: 100px;
}
/* recipe part end  */

/* review part start  */
#review {
	background-image: url("./images/shapes/7.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.review-container {
	padding: 70px;
}

.review-item {
	padding: 40px 30px;
	border-radius: 10px;
}

.review-header {
	display: flex;
	margin-bottom: 20px;
}
.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}

.avatar-name h4 {
	font-size: 16px;
	color: #555;
	margin-bottom: 5px;
}

.avatar-name span {
	font-size: 14px;
	color: #777;
}

.review-item-details {
	padding: 0 5px 30px;
}

.review-item-details p {
	height: 100px;
}
/* review part start  */

/* social section start  */
#social {
	margin-bottom: 30px;
}

.social-container {
	padding: 70px;
}

.social-box {
	box-shadow: 3px 3px 9px 3px #ddd;
	text-align: center;
	border-radius: 10px;
}

.social-container row {
	justify-content: space-evenly;
}

.social-item {
	padding: 50px 0;
}

.followers {
	font-size: 46px;
	margin-bottom: 10px;
}

.social-name {
	font-size: 13px;
	color: #555;
}
/* social section end  */

/* footer section start  */
#footer {
	background: #000000;
	padding: 40px 0 120px;
	text-align: center;
}

.footer-title {
	color: #555;
	margin-bottom: 20px;
}

.footer-sub-title {
	color: #aaa;
	font-size: 14px;
}
/* footer section end  */
